@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #000000;
    --foreground: #171717;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #272222;
    }
  }
  
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: auto;
  }
  /* In styles/globals.css or any other global CSS file */
.details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.details.show {
  max-height: 100px; /* Adjust based on content size */
}
.fixed-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 50;
  background-color: black;
  overflow-y: auto; /* Allows scrolling */
}


  